<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<title>{% block title %}{% endblock %}</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/style.css" />
		<!--[if lt IE 8]>
			<link rel="stylesheet" type="text/css" href="ie.css" />
		<![endif]-->
	</head>
	<body class="text-shadow">
		{% block content %}
		{% endblock %}
		{% include "footer.html" %}
	</body>
</html>